---
title: About us
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}"
     data-theme="{{ site.theme-color }}">
    <h2>关于论坛</h2>
</div>

<main class="tags-content">
    <ul class="tags-list">
        <li>
            <p>全球变暖、极端天气气候事件频发，气候变化问题越来越走入“日常”，成为关涉我们生活的重要议题。2020年，中国宣布2060年前实现碳中和，为全球实现温升控制目标作出巨大贡献，应对气候变化问题被提升到了前所未有的高度。</p>
            <br>
            <p>气候变化对自然系统和社会系统都会产生影响，因此，自然科学和社会科学的交叉合作在应对气候变化中至关重要。气候变化经济学作为交叉领域应运而生，并得以快速发展。2018年，气候变化经济学家威廉·诺德豪斯荣获诺贝尔经济学奖，这一新兴学科获得了更广泛的关注和认可。</p>
            <br>
            <p>气候变化经济学迎来了新的发展机遇，同时也将担负起更艰巨的责任。机遇和责任要求我们，必须在应对气候变化和促进可持续发展领域作出更大的贡献。为此，我们发起“气候变化经济学论坛”，旨在为关注气候变化的科研工作者、政策制定者、行业从业者以及公众提供一个学习交流、展示自我以及合作共赢的平台。</p>
            <br>

            <p><b>论坛性质</b>：公益性平台，报告者和听众均免费参加。</p>
            <p><b>论坛时间</b>：每周三晚上8:00-9:00（北京时间）。</p>
            <p><b>论坛形式</b>：线上报告。</p>
            <p><b>报告主题</b>：气候变化经济学、能源经济学、环境经济学、生态经济学等可持续发展相关的领域，鼓励交叉学科研究。</p>
            <p><b>报告内容</b>：未发表的成果、已发表的成果、研究计划以及读书报告等。</p>
            <p><b>论坛支持期刊：</b></p>
            <p>《气候变化研究进展》</p>
            <p>《中国人口资源与环境》</p>
            <p>《中国环境管理》</p>
            <p>《环境经济研究》</p>
            <p>Advances in Climate Change Research</p>
            <p>Energy Policy</p>
            <p>Environmental Science and Ecotechnology </p>
            <p>Environment and Development Economics</p>
            <p>Journal of Cleaner Production </p>
            <p>Journal of Industrial Ecology</p>
            <p>Structural Change and Economic Dynamics </p>
            <p>World Development</p>
        </li>

        <li>
            <p>如果想要订阅论坛活动信息，请发邮件至<a href="mailto:climateeconomics+subscribe@googlegroups.com">climateeconomics+subscribe@googlegroups.com</a></p>
            <br>
            <p>To subscribe to our mailing list, please send an email to <a href="mailto:climateeconomics+subscribe@googlegroups.com">climateeconomics+subscribe@googlegroups.com</a></p>
        </li>

    </ul>
</main>

{% include footer.html %}
