---
title: About us
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}"
     data-theme="{{ site.theme-color }}">
    <h2>About us</h2>
</div>

<main class="tags-content">
    <ul class="tags-list">
        <li>
            <p>「气候变化经济学论坛」旨在为关注气候变化的科研工作者、政策制定者、行业从业者以及公众提供一个学习交流的平台。</p>
            <p> </p>
            <p>论坛性质：公益性平台，报告者和听众均免费参加。</p>
            <p>论坛时间：每周三晚上8:00-9:00（北京时间）。</p>
            <p>论坛形式：线上报告。</p>
            <p>报告主题：气候变化经济学、能源经济学、环境经济学、生态经济学等可持续发展相关的领域，鼓励交叉学科研究。</p>
            <p>报告内容：未发表的成果、已发表的成果、研究计划以及读书报告等。</p>
        </li>

        <li>
            <p>To subscribe to our mailing list, please send an email to <a href="mailto:climateeconomics+subscribe@googlegroups.com">climateeconomics+subscribe@googlegroups.com</a></p>
        </li>

    </ul>
</main>

{% include footer.html %}
