---
title: Give a Talk
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>报名入口</h2>
</div>

<main class="tags-content">

    <ul class="tags-list">
        <li>
            <p>If you are interested in giving a talk at the forum, please fill out the following application form. The organizers will contact you shortly after receiving the application.</p>
            <br>
            <iframe width="640px" height="2800px"
                    src="https://forms.office.com/Pages/ResponsePage.aspx?id=MJiqJfngK0iJfho7PIVeXOQEHy0AD31Fl_hipr0E0lZUNTQyNlMxNDJJOFhGS1I1R0VMRUFLMFE1Ty4u&embed=true"
                    frameborder="0" marginwidth="0" marginheight="0"
                    style="border: none; max-width:100%; max-height:2800px" allowfullscreen webkitallowfullscreen
                    mozallowfullscreen msallowfullscreen></iframe>
        </li>
    </ul>
</main>

{% include footer.html %}
