.event-list .article-list {
    float: none;
    margin: 0 auto;
}

.author-card .avatar {
    border-radius: 0;
}

.logo-in-header {
    width: 150px;
    margin-top: 90px
}

.middle-align {
    vertical-align: middle;
}

.logo-text {
    font-size: 48px;
    margin-top: 8px;
    font-family: SimSun;
    font-weight: bold;
}

.tags-list li .tag-post {
    text-align: left;
}

.committee-member-img {
    max-width: 100%;
}