.event-list .article-list {
    float: none;
    margin: 0 auto;
}

.author-card .avatar {
    border-radius: 0;
}

.logo-in-header {
    width: 190px;
    margin-top: 90px
}

.middle-align {
    vertical-align:middle;
}

.logo-text {
    font-size: xx-large;
    margin-top: 8px;
}
